services:
  mtg-card-importer-local:
    image: mtg-card-importer-backend:local
    build:
      context: .
    container_name: mtg-card-importer-local
    restart: unless-stopped
    ports:
      - "3001:3000"

    environment:
      NODE_ENV: development
      PORT: 3000
      USE_BULK_DATA: "false"
      WORKERS: 1
      STARTUP_STAGGER_MS: 0
      MAX_CACHE_SIZE: 2000
      MAX_DECK_SIZE: 500
      SCRYFALL_DELAY: 100
      DEFAULT_CARD_BACK: https://steamusercontent-a.akamaihd.net/ugc/1647720103762682461/35EF6E87970E2A5D6581E7D96A99F8A575B7A15F/

    volumes:
      - ./data:/app/data
