services:
  mtg-card-importer:
    image: mtg-card-importer-backend
    build:
      context: .
    container_name: mtg-card-importer
    ports:
      - "3000:3000"

    environment:
      NODE_ENV: production
      USE_BULK_DATA: "true"
      BULK_DATA_PATH: /app/data
      BULK_DATA_TYPE: oracle_cards
      WORKERS: 1
      MAX_CACHE_SIZE: 5000
      SCRYFALL_DELAY: 100
      DEFAULT_CARD_BACK: https://steamusercontent-a.akamaihd.net/ugc/1647720103762682461/35EF6E87970E2A5D6581E7D96A99F8A575B7A15F/

    volumes:
      - ./data:/app/data
    networks:
      - mtg-net

networks:
  mtg-net:
    external: true
    name: mtg-net
